---
Checks:          'clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-security.insecureAPI.*'
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:    {}
SystemHeaders:   false
...

